#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/home/jasdeepharibhajan/Titanium_Studio/icon.xpm
Name[en_GB]=titanium
Exec=/home/jasdeepharibhajan/Titanium_Studio/TitaniumStudio %f
Name=titanium
Icon=/home/jasdeepharibhajan/Titanium_Studio/icon.xpm
Categories=Motif;Utility;TextTools;
